@model Wine.Models.ClientItemViewModel
@{
    Layout = "_Layout";
}
@if (!Model.NotFound)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Documento</th>
                <th scope="col">Nome</th>
                <th scope="col">Produto</th>
                <th scope="col">Variedade</th>
                <th scope="col">Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Document</td>
                <td>@Model.Name</td>
                <td>@Model.Item.Product</td>
                <td>@Model.Item.Variety</td>
                <td>@Model.Item.Category</td>
            </tr>
        </tbody>
    </table>
}

@if (Model.NotFound)
{
    <div class="alert alert-danger" role="alert">
        Cliente informado não está cadastrado.
    </div>
}